* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
  background: #f1f3ff;
  padding: 2px;
}

.navbar {
  margin: 0 auto;
  height: 40px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 14px;
  font-weight: 400;
}
.navbar h2 {
  color: #545be8;
  padding: 2px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.logo {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.banner-container {
  background: #f1f3ff;
}

.banner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  width: 540px;
  gap: 10px;
}

.banner-left h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
}

.banner-left p {
  font-size: 16px;
  color: black;
  padding-bottom: 20px;
}

.banner-btn {
  padding: 8px 12px 8px 12px;
  color: white;
  background-color: #5cb85f;
  font-size: 14px;
  font-weight: 700;
  border: none;
  width: 150px;
  line-height: 20px;
  gap: 10px;
}

.banner-left button {
  padding: 8px 12px 8px 12px;
  color: white;
  background-color: #5cb85f;
  font-size: 12px;
  font-weight: 400;
  border: none;
}

.banner-right {
  width: 540px;
}

.service-car-container {
  background: white;
}

.service-car {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 100px;
}


.service-car-right {
  width: 480px;
  text-align: justify;
}

.service-car-right h3 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
}

.service-car-right p:first-child {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.service-car-items-container {
  margin-top: 20px;
}

.service-car-items {
  font-size: 16px;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  flex-direction: row;
}

.why-us-container {
  background: #ffffff;
  padding: 2px;
}

.why-us {
  margin: 0 auto;
  max-width: 1000px;
}

.why-us h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
}

.why-us p {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

.why-us-cards-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.why-us-cards {
  padding: 20px;
  border: #919191 1px solid;
  border-radius: 5px;
  width: 200px;
}

.why-us-items {
  gap: 10px;
}

.why-us-items img {
  margin-bottom: 10px;
}

.why-us-items p:last-child {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
}

.testimoni-container {
  background: white;
}

.testimoni {
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.testimoni h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimoni p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimoni-cards-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.testimoni-cards-items {
  display: flex;
  background-color: #f1f3ff;
  border-radius: 5px;
  width: 450px;
  padding: 50px;
  gap: 20px;
}

.testimoni-review {
  text-align: justify;
  font-weight: 600;
}

.testimoni-review p:last-child {
  margin-top: 10px;
  font-size: 10px;
}

.testimoni-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.rental-container {
  background: white;
}

.rental-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.rental-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 840px;
  padding: 30px 170px 30px 170px;
  text-align: center;
  background-color: #0d28a6;
  color: white;
  border-radius: 13px;
  gap: 30px;
}

.rental-box h2 {
  font-size: 24px;
}

.rental-box p {
  font-size: 14px;
  justify-content: center;
}

.rental-box-btn {
  display: flex;
  justify-content: center;
}

.rental-box-btn button {
  padding: 8px 12px 8px 12px;
  color: white;
  background-color: #5cb85f;
  font-size: 14px;
  font-weight: 700;
  border: none;
  width: 140px;
  line-height: 20px;
  gap: 10px;
}

.faq-container {
  background: white;
}

.faq-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.faq-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-left h2 {
  font-size: 24px;
  font-weight: 600;
}

.faq-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-right-items {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: #919191 1px solid;
  background-color: #ffffff;
  border-radius: 5px;
  width: 450px;
}

.footer-container {
  background: white;
  padding: 30px;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: 600;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact p {
  font-size: 14px;
  font-weight: 600;
}

.footer-menus {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 100;
}

.footer-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

.find-container {
  background: white;
  padding: 40px 0px 40px 0px;
}

.find-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  gap: 10px;
  box-shadow: 5px 5px 5px 5px grey;
}

.find-wrapper input{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 2.5px solid #f7f7f7;
}

.btn-search button{
  padding: 8px 12px 8px 12px;
  color: white;
  background-color: #5cb85f;
  font-size: 12px;
  font-weight: 400;
  border: none;
  line-height: 20px;
}



